<main id="main" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col max-w-96 grow" hx-target="main" hx-swap="outerHTML">
        <span class="mb-4">
            <b>Data selectată:</b>
            <span class="ml-2 text-blue-400 animate-pop">{{ selected_date.format(date_formats::READABLE_DATE).unwrap() }}</span>
        </span>
        {% include "components/calendar_date_picker.html" %}
    </div>

    <div class="flex flex-col max-w-full grow" hx-vals='{"selected_date": "{{ selected_date.format(date_formats::READABLE_DATE).unwrap() }}" }'>
        {% if user.is_active && has_paid %}
        {% let enable_editing = true%}
        {% include "hours.html" %}

        <div id="confirmation"></div>
        {% else if has_paid %}
        <p class="text-error text-center py-4 text-xl">Contul tău este inactiv, contactează un Fondator!</p>
        {% else %}
        <p class="text-error text-center py-4 text-xl">Ultimele 3 luni nu au fost plătite, verifică plata cotizației de membru, apoi ia legătura cu un membru fondator!</p>
        {% endif %}
    </div>
</main>
