{% import "components/color_mapper.html" as color_mapper %}

{% extends "base.html" %}

{% block page_title %}Rezervări{% endblock %}

{% block content %}
<div class="flex flex-col" style="min-height: calc(100vh - 72px)">
    <div class="p-4 md:p-8 grow" hx-ext="ws" ws-connect="/ws">
        <div class="flex flex-row w-full items-center justify-end gap-2 mb-2 md:mb-6 flex-wrap md:flex-nowrap">
            {% if !global_vars.homepage_message.is_empty() %}
            <p class="bg-cyan-600 text-white text-sm mx-2 p-3 rounded-md grow">{{ global_vars.homepage_message }}</p>
            {% endif %}

            {% if user.is_active %}
            <p class="text-nowrap text-lg">Cod intrare: <b>{{ global_vars.entrance_code }}</b></p>
            {% endif %}
        </div>

        {% include "content.html" %}

    </div>

    <footer class="w-full bg-base-200 p-4 flex flex-row items-center justify-between">
        <p class="uppercase opacity-60 font-bold">V{{ VERSION }}</p>
        <p class="uppercase opacity-60 font-bold">Realizat de Filea Răzvan</p>
    </footer>
</div>

<dialog id="help_modal" class="modal">
    <div class="modal-box">
        <div class="flex flex-col gap-2">
            <p class="text-lg">Cod culori rezervări:</p>
            <div class="flex flex-row gap-3 flex-wrap">
                <button class="btn btn-sm bg-slate-600 rounded-full text-white">Membru</button>
                <button class="btn btn-sm bg-slate-600 rounded-full text-white items-center">Deține cheie
                    <span class="material-symbols-outlined">vpn_key</span>
                </button>
                <button class="btn btn-sm bg-fuchsia-600 rounded-full text-white">Invitat special</button>
                <button class="btn btn-sm bg-sky-500 rounded-full text-white">Invitat antrenament</button>

                {% for color_code in reservation_color_code %}
                <button class="btn btn-sm rounded-full text-white
                    {% call color_mapper::map_rust_color(color_code.color) %}">
                    {{ color_code.name }}
                </button>
                {% endfor %}
            </div>

            <p class="text-lg">Prioritate la rezervări:</p>
            <ol class="list-decimal pl-4">
                <li>Membri au întâietate la rezervări peste invitați</li>
                <li>Invitații speciali primesc statut de membri</li>
                <li>Invitații antrenamente au prioritate în ordinea înscrierilor</li>
                <li>În cazul în care un membru vrea să participe la sesiunea de antrenament, ultimul invitat
                    antrenamente va fi mutat pe lista de așteptare
                </li>
                <li>O rezervare anulată nu poate fi refacută</li>
            </ol>
        </div>

        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
{% endblock %}

{% block nav_menu %}
<li>
    <button title="Regulament intern" onmousedown="window.open('/assets/regulament_intern.pdf', '_blank')">
        <span class="material-symbols-outlined">gavel</span>
    </button>
</li>
<li>
    <button title="Ajutor" onmousedown="help_modal.showModal()">
        <span class="material-symbols-outlined">help</span>
    </button>
</li>
{% endblock %}
