{% import "components/color_mapper.html" as color_mapper %}

{% macro res_btn(index, id, res) %}
<button popovertarget="popover_{{ id }}_{{ slot.start_hour }}_{{ index }}"
        class="btn btn-sm no-animation rounded-full text-white items-center
    {% call color_mapper::map_rust_color(res.color) %}">

    {{ index }}. {{ res.name }}

    {% if res.has_key %}
    <span class="material-symbols-outlined">vpn_key</span>
    {% endif %}

    {% if !res.has_account %}
    <span class="material-symbols-outlined">account_circle_off</span>
    {% endif %}
</button>

{% if enable_editing && (user.admin_panel_access || user.id == res.user_id) %}
<div id="popover_{{ id }}_{{ slot.start_hour }}_{{ index }}" class="rounded-2xl" popover>
    <div class="p-6 flex flex-col gap-4">
        <p>Rezervarea de la ora <b>{{ slot.start_hour }}</b> pe numele <b>{{ res.name }}</b></p>

        <button class="btn btn-error"
                hx-vals="unset"
                hx-delete='/reservation?date={{ selected_date }}&hour={{ slot.start_hour }}&user_id={{ res.user_id }}
{%- if let Some(created_for) = res.created_for %}&created_for={{ created_for }}{% endif %}'>
            Anulează
        </button>
    </div>
</div>
{% endif %}

{% endmacro %}

<div id="hours">
    <h4 class="text-xl mb-2">
        {% if let Some(description) = reservation_hours.description %}
        <span class="font-medium underline">{{ description }}</span>
        {% endif %}
        {% if let Some(capacity) = reservation_hours.capacity %}
        <span> - Maxim {{ capacity }}</span>
        {% endif %}
    </h4>
    {% for slot in reservation_hours.hours %}
    <div hx-vals='{"hour": {{ slot.start_hour }} }'>
        <div class="flex flex-row flex-wrap gap-1 mb-4 items-center">
            Ora {{ slot.start_hour }} - {{ slot.end_hour }}:
            {% if let Ok(reservations) = slot.reservations %}
            {% for res in reservations.active %}
            {% call res_btn(loop.index, "reservation", res) %}
            {% endfor %}
            {% endif %}

            {% if let Err(restriction) = slot.reservations %}
            <p class="text-red-600 font-semibold">{{ restriction }}</p>
            {% endif %}
        </div>

        {% if let Ok(reservations) = slot.reservations %}
        {% if !reservations.waiting.is_empty() %}
        <div class="flex flex-row flex-wrap gap-2 mb-4 items-center">
        <p class="text-red-400 underline">În așteptare:</p>
            {% for res in reservations.waiting %}
            {% call res_btn(loop.index, "waiting", res) %}
            {% endfor %}
        </div>
        {% endif %}

        {% if user.admin_panel_access && !reservations.cancelled.is_empty() %}
        <div class="flex flex-row flex-wrap gap-2 mb-4 items-center">
            <p class="underline">Retrași:</p>
            {% for res in reservations.cancelled %}
            {% call res_btn(loop.index, "cancelled", res) %}
            {% endfor %}
        </div>
        {%endif%}

        {% endif %}

        {% if enable_editing && slot.reservations.is_ok() %}
        <input name="reservation" type="radio" aria-label="Rezervare" autocomplete="off"
               hx-post="/choose_hour" hx-target="#confirmation" hx-swap="outerHTML show:bottom"
               class="btn btn-md btn-outline btn-accent w-min"/>

        {% if user.admin_panel_access %}
        <button class="btn btn-md btn-outline btn-info" popovertarget="popover_create_guest_{{ slot.start_hour }}">
            Adaugă invitat
        </button>

        <div id="popover_create_guest_{{ slot.start_hour }}" class="rounded-2xl" popover>
            <form class="p-6 flex flex-col gap-4" hx-params="not selected_date" hx-vals='{"date": "{{ selected_date }}"}'>
                <p>Adaugă un invitat de la ora <b>{{ slot.start_hour }}</b> pe numele:</p>

                <input id="name" name="name" type="text" class="input input-bordered w-full" required
                       placeholder="Nume invitat" autocomplete="off"/>

                <label class="label cursor-pointer py-6">
                    <span class="label-text">Special:</span>
                    <input name="special" type="checkbox" class="toggle toggle-primary" autocomplete="off" />
                </label>

                <button class="btn btn-success"
                        hx-put="/admin/guests"
                        hx-swap="none">
                    Adaugă
                </button>
            </form>
        </div>
        {% endif %}

        {% endif %}

        {% if !loop.last %}
        <div class="divider"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>