{% extends "base.html" %}

{% block page_title %}{% if current.is_none() %}Rol nou{% else %}Editează rolul{% endif %}{% endblock %}

{% block content %}

<form>
    <fieldset class="fieldset p-4 md:p-8 gap-6 w-full">
        <label class="floating-label">
            <span>Nume</span>
            <input name="name" type="text" placeholder="Nume" required class="input input-lg input-bordered w-full"
                   autocomplete="off"
                   {% if let Some(val)=current %}value="{{ val.name }}" {% endif %}/>
        </label>

        <label class="floating-label">
            <span>Rezervări pe săptămână</span>
            <input name="reservations" type="number" required class="input input-lg input-bordered w-full"
                   min="0" max="255" autocomplete="off"
                   {% if let Some(val)=current %}value="{{ val.reservations }}" {% else %}value="0" {% endif %}/>
        </label>

        <label class="floating-label">
            <span>Rezervări ca invitat pe săptămână</span>
            <input name="as_guest" type="number" required class="input input-lg input-bordered w-full"
                   min="0" max="255" autocomplete="off"
                   {% if let Some(val)=current %}value="{{ val.guest_reservations }}" {% else %}value="0" {% endif %}/>
        </label>

        <label class="floating-label">
            <span>Culoare rezervări</span>
            <select name="color" class="select select-lg select-bordered input-lg w-full">
                {% for color in CssColor::iter() %}
                <option {% if let Some(val)=current %}{% if val.color== Some(color.to_string()) %}selected{% endif %}{%
                        endif %}>{{ color }}
                </option>
                {% endfor %}
            </select>
        </label>

        {% if let Some(val) = current %}
        <button class="btn btn-primary mt-6" hx-post="/admin/roles/edit/{{ val.id }}">
            Actualizează
        </button>

        <button class="btn btn-error mt-6" hx-swap="none" hx-delete="/admin/roles/{{ val.id }}"
                hx-confirm="Ești absolut sigur că vrei să ștergi acest rol?">
            Șterge
        </button>
        {% else %}
        <button class="btn btn-primary mt-6" hx-post="/admin/roles/new">
            Creează un rol nou
        </button>
        {% endif %}
    </fieldset>
</form>

{% endblock %}
