<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
<!--    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>-->
<!--    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>-->

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png"/>
    <link rel="icon" type="image/ico" sizes="16x16" href="/assets/fav/favicon-16x16.ico"/>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <title>{% block title %}ACSPA{% endblock %}</title>
</head>
<body>
{% block pre_content %}{% endblock %}
<div class="drawer lg:drawer-open">
    <input id="drawer-sidebar" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col">
        <header class="w-full navbar bg-base-300">
            <div class="flex-none">
                <label for="drawer-sidebar" aria-label="open sidebar" class="btn btn-square btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         class="inline-block size-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
            </div>
            <div class="flex-1 px-2 mx-2">{% block page_title %}ACSPA{% endblock %}</div>
            <div class="flex-none">
                <ul class="menu menu-horizontal">
                    <li>
                        <button onmousedown="window.open('/assets/regulament_intern.pdf', '_blank')">
                            <span class="material-symbols-outlined">gavel</span>
                        </button>
                    </li>
                    <li>
                        <button onmousedown="help_modal.showModal()">
                            <span class="material-symbols-outlined">help</span>
                        </button>
                    </li>
                    {% block nav_menu %}{% endblock %}
                </ul>
            </div>
        </header>

        <div id="content">
            {% block content %}<p>Placeholder content</p>{% endblock %}
        </div>
    </div>

    <nav class="drawer-side">
        <label for="drawer-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu menu-lg py-4 w-72 min-h-full bg-base-200 text-base-content">
            <div class="flex w-full justify-center mb-4">
                <img src="/assets/logo.webp" alt="ACS Perpetuum Activ" width="137" height="91"/>
            </div>
            <li><a href="/">
                <span class="material-symbols-outlined">bookmark</span>
                Rezervări
            </a></li>
            <li><a href="https://acspa.ro/">
                <span class="material-symbols-outlined">home</span>
                Site ACSPA
            </a></li>

            {% block side_bar_content %}
            {% if user.admin_panel_access %}
            <li><a href="/admin">
                <span class="material-symbols-outlined">admin_panel_settings</span>
                Panou Administrare
            </a></li>

            {% endif %}

            {% include "components/side_bar_profile.html" %}
            {% endblock %}
        </ul>

    </nav>

    <dialog id="help_modal" class="modal">
        <div class="modal-box">
            <div class="flex flex-col gap-4">
                <p class="text-lg">Cod culori rezervări:</p>
                <div>
                    <button class="btn btn-sm bg-orange-500 rounded-full text-white">Antrenor</button>
                </div>
                <div>
                    <button class="btn btn-sm bg-slate-600 rounded-full text-white items-center">Deține cheie
                        <span class="material-symbols-outlined">vpn_key</span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-sm bg-slate-600 rounded-full text-white">Membru</button>
                </div>
                <div>
                    <button class="btn btn-sm bg-fuchsia-600 rounded-full text-white">Invitat special</button>
                </div>
                <div>
                    <button class="btn btn-sm bg-cyan-500 rounded-full text-white">Invitat antrenament</button>
                </div>
            </div>

            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

</div>

{% block post_content %}{% endblock %}
</body>
</html>