{% extends "base.html" %}

{% block page_title %}Profil{% endblock %}

{% block content %}

<main class="p-4">
    <div class="flex flex-row flex-wrap gap-8 items-center justify-between p-6 bg-gray-600 rounded shadow">
        <div class="flex flex-row gap-4 items-center">
            <div class="avatar w-12 h-12">
                <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true"/>
            </div>
            <div class="flex flex-col">
                {{ user.name }}
                <span class="text-sm text-gray-300">{{ user.role }} - {{ user.email }}</span>
            </div>
        </div>
        <div class="flex flex-row gap-4">
            <button class="btn btn-outline btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                </svg>
                Schimbă parola
            </button>
            <button class="btn btn-outline btn-error" hx-post="/logout">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>
                Sign out
            </button>
        </div>
    </div>

    <div class="flex flex-row justify-between items-center mt-8">
        <h2 class="text-2xl font-bold">Rezervările tale:</h2>

        <button class="btn btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
        </button>
    </div>
</main>
{% endblock %}
