{% extends "base.html" %}

{% block page_title %}Profil{% endblock %}

{% block content %}

<main class="p-4 md:p-8">
    <div class="flex flex-row flex-wrap gap-8 items-center justify-between p-6 bg-gray-600 rounded shadow">
        <div class="flex flex-row gap-4 items-center">
            <div class="avatar w-12 h-12">
                <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true"/>
            </div>
            <div class="flex flex-col">
                {{ user.name }}
                <span class="text-sm text-gray-300">{{ user.role }} • {{ user.email }}</span>
            </div>
        </div>
        <div class="flex flex-row gap-4">
            <button class="btn btn-outline btn-info" disabled>
                <span class="material-symbols-outlined">password</span>
                Schimbă parola
            </button>
            <button class="btn btn-outline btn-error" hx-post="/logout">
                <span class="material-symbols-outlined">logout</span>
                Sign out
            </button>
        </div>
    </div>

    {% include "components/profile_content.html" %}
</main>
{% endblock %}
