<div id="hours">
    {% for possible_hour in reservation_hours %}
    <div hx-vals='{"hour": {{ possible_hour.start_hour }} }'>
        <div class="flex flex-row flex-wrap gap-2 mb-4 items-center">
            Ora {{ possible_hour.start_hour }} - {{ possible_hour.end_hour }}:
            {% if let Ok(reservations) = possible_hour.reservations %}
            {% for res in reservations %}
            <button class="btn btn-sm rounded-full text-white items-center
                    {% match res.color %}
                    {% when CssColor::None %}
                    bg-slate-600
                    {% when CssColor::Blue %}
                    bg-info
                    {% when CssColor::Red %}
                    bg-error
                    {% when CssColor::Pink %}
                    bg-fuchsia-600
                    {% when CssColor::Green %}
                    bg-success
                    {% when CssColor::Yellow %}
                    bg-warning
                    {% when CssColor::Orange %}
                    bg-orange-500
                    {% endmatch %}">
                {{ loop.index }}. {{ res.name }}
                {% if res.has_key %}
                <span class="material-symbols-outlined">vpn_key</span>
                {% endif %}
                {% if !res.has_account %}
                <span class="material-symbols-outlined">account_circle_off</span>
                {% endif %}
            </button>
            {% endfor %}
            {% endif %}

            {% if let Err(restriction) = possible_hour.reservations %}
            <p class="text-red-600 font-semibold">{{ restriction }}</p>
            {% endif %}
        </div>

        {% if possible_hour.reservations.is_ok() %}
        <input name="reservation" type="radio" aria-label="Rezervare" autocomplete="off"
               hx-post="/choose_hour" hx-target="#confirmation" hx-swap="outerHTML show:bottom"
               class="btn btn-md btn-outline btn-accent w-min"/>
        {% endif %}

        {% if !loop.last %}
        <div class="divider"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>