<style>
    .popover_m {
        position: absolute;
        top: calc(.5em + anchor(auto));
    }
</style>
{% macro res_btn(index, res) %}
<button id="res_{{ index }}"
        popovertarget="popover_{{ index }}"
    class="btn btn-sm no-animation rounded-full text-white items-center
    {% match res.color %}
    {% when CssColor::None %}
    bg-slate-600
    {% when CssColor::Blue %}
    bg-info
    {% when CssColor::Red %}
    bg-error
    {% when CssColor::Pink %}
    bg-fuchsia-600
    {% when CssColor::Green %}
    bg-success
    {% when CssColor::Yellow %}
    bg-warning
    {% when CssColor::Orange %}
    bg-orange-500
    {% endmatch %}">

    {{ index }}. {{ res.name }}

    {% if res.has_key %}
    <span class="material-symbols-outlined">vpn_key</span>
    {% endif %}

    {% if !res.has_account %}
    <span class="material-symbols-outlined">account_circle_off</span>
    {% endif %}
</button>
<div id="popover_{{ index }}" popover anchor="res_{{ index }}" class="popover_m">
    Hello
</div>
{% endmacro %}

<div id="hours">
    {% for possible_hour in reservation_hours %}
    <div hx-vals='{"hour": {{ possible_hour.start_hour }} }'>
        <div class="flex flex-row flex-wrap gap-2 mb-4 items-center">
            Ora {{ possible_hour.start_hour }} - {{ possible_hour.end_hour }}:
            {% if let Ok(reservations) = possible_hour.reservations %}
            {% for res in reservations.list %}
            {% call res_btn(loop.index, res) %}
            {% endfor %}
            {% endif %}

            {% if let Err(restriction) = possible_hour.reservations %}
            <p class="text-red-600 font-semibold">{{ restriction }}</p>
            {% endif %}
        </div>

        {% if let Ok(reservations) = possible_hour.reservations %}
        {% if !reservations.waiting.is_empty() %}
        <div class="flex flex-row flex-wrap gap-2 mb-4 items-center">
            În aștepare:
            {% for res in reservations.waiting %}
            {% call res_btn(loop.index, res) %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if possible_hour.reservations.is_ok() %}
        <input name="reservation" type="radio" aria-label="Rezervare" autocomplete="off"
               hx-post="/choose_hour" hx-target="#confirmation" hx-swap="outerHTML show:bottom"
               class="btn btn-md btn-outline btn-accent w-min"/>
        {% endif %}

        {% if !loop.last %}
        <div class="divider"></div>
        {% endif %}
    </div>
    {% endfor %}
</div>