<div id="confirmation" class="bg-gray-600 p-6 mt-8 m-2 md:m-4 rounded-2xl">
    <h3 class="text-xl mb-4">Confirmă rezervarea:</h3>

    <p class="my-1">Pe data de <b>{{ selected_date.format("%d.%m.%Y") }}</b> de la ora <b>{{ start_hour }}:00</b> la <b>{{
        end_hour }}:00</b></p>
    <p>Locația: {{ location_name }}</p>

    <button class="btn btn-accent btn-wide mt-3"
            hx-vals='{"hour": {{ start_hour }} }'
            hx-target="#confirmation"
            hx-swap="outerHTML"
            hx-post="/confirm_reservation">Confirmă rezervarea
    </button>
</div>
