<div id="confirmation" class="bg-gray-600 p-6 mt-8 m-2 md:m-4 rounded-2xl">

    <div class="p-5 my-2 rounded-full shadow
        text-md text-black font-medium text-center
        {% match message_color %}
        {% when CssColor::Blue %}
        bg-info
        {% when CssColor::Green %}
        bg-success
        {% when CssColor::Yellow %}
        bg-warning
        {% when CssColor::Red %}
        bg-error
        {% else %}
        {% endmatch %}">
        {{ message|safe }}
    </div>

    {% if successful %}
    <div class="flex flex-row items-center mt-4 gap-3 justify-center w-full">
        <p>Rezervarea poate fi anulată pe pagina ta de profil:</p>
        <a href="/profile" class="btn btn-sm btn-accent">Vezi profilul</a>
    </div>
    {% endif %}

</div>
