<div id="list" class="flex flex-col w-full gap-4">
    {% for day in free_days %}
    {% let id_date = day.date.format(date_formats::ISO_DATE_UNDERLINE).unwrap() %}
    {% let iso_date = day.date.format(date_formats::ISO_DATE).unwrap() %}
    <div id="day_{{ id_date }}" class="flex flex-row p-4 bg-gray-600 rounded gap-4 items-center justify-between">
        <div class="flex flex-col">
            <p>Data: <b>{{ day.date.format(date_formats::READABLE_DATE).unwrap() }}</b></p>
            {% if !day.description.is_empty() %}
            <p>Nume: <b>{{ day.description }}</b></p>
            {% endif %}
            <p class="text-sm">Creat pe: {{ day.created_at.format(date_formats::READABLE_DATE).unwrap() }}</p>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <button title="Duplică ziua liberă"
                    class="btn btn-square btn-sm btn-info btn-outline"
                    onclick='copyDateModal("{{ iso_date }}", "{{ day.description }}")'>
                <span class="material-symbols-outlined">tab_duplicate</span>
            </button>

            <button title="Șterge ziua libera"
                    class="btn btn-square btn-sm btn-error btn-outline"
                    hx-delete='/admin/free_days/{{ iso_date }}'
                    hx-target="#day_{{ id_date }}"
                    hx-swap="outerHTML">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </div>

    </div>
    {% endfor %}
</div>
