<div id="list" class="flex flex-col w-full gap-4">
    {% for guest in guests %}
    <div id="guest_{{ guest.rowid }}"
         class="flex flex-row p-4 bg-gray-600 rounded gap-4 items-center justify-between">
        <div class="flex flex-col">
            <p class="font-bold mb-2">{{ guest.name }}</p>
            <p>Data: <b>{{ guest.date.format(date_formats::READABLE_DATE).unwrap() }}</b></p>
            <p>Ora: <b>{{ guest.hour }}</b></p>
            {% if !guest.as_guest %}
            <p class="text-pink-500">Special</p>
            {% endif %}
            <p class="text-sm">Creat de {{ guest.created_by }} pe {{ date_formats::format_as_local(guest.created_at) }}</p>
        </div>

        {% let selected_date_formatted = guest.date.format(date_formats::ISO_DATE).unwrap() %}

        <button
                class="btn btn-square btn-sm btn-error btn-outline"
                hx-delete='/reservation?date={{ selected_date_formatted }}&hour={{ guest.hour }}&user_id={{ guest.created_by_id }}&created_for={{ guest.name }}'
                hx-target="#guest_{{ guest.rowid }}"
                hx-swap="outerHTML">
            <span class="material-symbols-outlined">delete</span>
        </button>

    </div>
    {% endfor %}
</div>
