{% extends "base.html" %}

{% block page_title %}Rezervări blocate{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    {% block list %}
    <div id="list" class="flex flex-col w-full gap-4">
        {% for res in restrictions %}
        {% let id_date = res.date.format(date_formats::ISO_DATE_UNDERLINE).unwrap() %}
        <div id="restriction_{{ id_date }}"
             class="flex flex-row p-4 bg-gray-600 rounded-sm gap-4 items-center justify-between">
            <div class="flex flex-col">
                <p>Motiv: <b>{{ res.message }}</b></p>
                <p>Data: <b>{{ date_formats::as_readable(res.date) }}</b></p>
                {% if let Some(hour) = res.hour %}
                <p>Ora: <b>{{ hour }}</b></p>
                {% endif %}
                <p class="text-sm">Creat pe {{ date_formats::as_local(res.created_at) }}</p>
            </div>

            <button
                    class="btn btn-square btn-sm btn-error btn-outline"
                    hx-delete='/admin/restrictions/{{ date_formats::as_iso_dash(res.date) }}{% if let Some(hour) = res.hour %}?hour={{ hour }}{% endif %}'
                    hx-target="#restriction_{{ id_date }}"
                    hx-swap="outerHTML"
                    hx-confirm="Ești sigur ca vrei să ștergi restricționarea de '{{ res.message }}'?">
                <span class="material-symbols-outlined">delete</span>
            </button>

        </div>
        {% endfor %}
    </div>
    {% endblock %}

    <div class="fab">
        <button class="btn-fab-text" onclick="add_modal.showModal()">
            <span class="material-symbols-outlined">add</span>
            Adaugă restricționare
        </button>
    </div>

</main>

{% let current_date_iso = current_date.format(date_formats::ISO_DATE).unwrap() %}
<dialog id="add_modal" class="modal">
    <form class="modal-box"
          onsubmit="add_modal.close()"
          hx-put="/admin/restrictions"
          hx-target="#list"
          hx-swap="outerHTML">

        <fieldset class="fieldset gap-6" hx-target="#hour_selector" hx-swap="innerHTML">
            <h3 class="text-lg font-bold mb-4">Blochează rezervările</h3>

            <label class="floating-label">
                <span>Data</span>
                <input name="date" type="date" class="input input-lg input-bordered w-full" required
                       autocomplete="off"
                       hx-post="/admin/restrictions/select_hour" hx-trigger="change"
                       min='{{ current_date_iso }}' value='{{ current_date_iso }}'/>
            </label>

            <label class="floating-label">
                <span>Motiv</span>
                <input name="message" type="text" class="input input-lg input-bordered w-full" placeholder="Motiv" required/>
            </label>

            <label class="label">
                <span class="text-lg">Toată ziua</span>
                <input name="all_day" type="checkbox" class="toggle toggle-lg input-lg toggle-primary"
                       autocomplete="off"
                       hx-post="/admin/restrictions/select_hour" hx-trigger="change"/>
            </label>

            <div id="hour_selector" class="flex flex-row flex-wrap gap-4">
                {% include "select_hour.html" %}
            </div>

            <div class="modal-action grid grid-cols-2" hx-disinherit="*">
                <button class="btn" onclick="add_modal.close()">
                    Anulează
                </button>

                <button class="btn btn-success" type="submit">
                    Adaugă
                </button>
            </div>
        </fieldset>
    </form>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

{% endblock %}
