{% extends "base.html" %}

{% block page_title %}Zile libere{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    {% block list %}
    <div id="list" class="flex flex-col w-full gap-4 pb-16">
        {% for day in free_days %}
        {% let iso_date = day.date.to_string() %}
        <div id="day_{{ iso_date }}" class="flex flex-row p-4 bg-gray-600 rounded-sm gap-4 items-center justify-between">

            <div class="flex flex-col">
                <p>Data: <b>{{ date_formats::as_readable(day.date) }}</b></p>
                {% if !day.description.is_empty() %}
                <p>Nume: <b>{{ day.description }}</b></p>
                {% endif %}
                <p class="text-sm">Creat pe: {{ date_formats::as_local(day.created_at) }}</p>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <button title="Duplică ziua liberă"
                        class="btn btn-square btn-sm btn-info btn-outline"
                        onclick='copyDateModal("{{ iso_date }}", "{{ day.description }}")'>
                    <span class="material-symbols-outlined">tab_duplicate</span>
                </button>

                <button title="Șterge ziua libera"
                        class="btn btn-square btn-sm btn-error btn-outline"
                        hx-delete='/admin/free_days/{{ iso_date }}'
                        hx-target="#day_{{ iso_date }}"
                        hx-swap="outerHTML"
                        hx-confirm="Ești sigur ca vrei să ștergi acestă zi liberă? Va șterge și toate rezervările făcute în acea zi">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endblock %}

    <div class="fab">
        <button class="btn-fab-text" onclick="showModalCleared()">
            <span class="material-symbols-outlined">add</span>
            Adaugă zi libera
        </button>
    </div>

</main>

<dialog id="add_modal" class="modal">
    <form class="modal-box"
          hx-put="/admin/free_days"
          hx-swap="outerHTML"
          hx-target="#list"
          onsubmit="add_modal.close()">
        <fieldset class="fieldset gap-6"
                  onsubmit="add_modal.close()">
            <h3 class="text-lg font-bold mb-4">Adaugă zi liberă</h3>

            <label class="floating-label">
                <span>Data</span>
                <input name="date" type="date" class="input input-lg input-bordered w-full" required
                       min='{{ current_date }}'/>
            </label>

            <label class="floating-label">
                <span>Descriere</span>
                <input name="description" type="text" class="input input-lg input-bordered w-full"/>
            </label>

            <div class="modal-action grid grid-cols-2">
                <button class="btn"
                        type="reset"
                        onclick="add_modal.close()">
                    Anulează
                </button>

                <button class="btn btn-success" type="submit">
                    Adaugă
                </button>
            </div>
        </fieldset>
    </form>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    function copyDateModal(isoDate, description) {
        document.getElementById("date").value = isoDate;
        document.getElementById("description").value = description;
        add_modal.showModal()
    }

    function showModalCleared() {
        document.getElementsByName("date").value = '';
        document.getElementsByName("description").value = '';
        add_modal.showModal();
    }
</script>

{% endblock %}
