RewriteEngine on

RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteCond %{HTTP_HOST} ^www\.membru\.acspa\.ro$
RewriteRule ^membru\.acspa\.ro$ "https\:\/\/membru\.acspa\.ro\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteCond %{HTTP_HOST} ^www\.membru\.acspa\.ro$
RewriteRule ^profile$ "https\:\/\/membru\.acspa\.ro\/profile\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteCond %{HTTP_HOST} ^www\.membru\.acspa\.ro$
RewriteRule ^login$ "https\:\/\/membru\.acspa\.ro\/login\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^forgot_password$ "https\:\/\/membru\.acspa\.ro\/forgot_password\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^password_recovery$ "https\:\/\/membru\.acspa\.ro\/password_recovery\.html" [R=302,L]

RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin$ "https\:\/\/membru\.acspa\.ro\/admin\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/guests$ "https\:\/\/membru\.acspa\.ro\/admin\/guests\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/daily_situation$ "https\:\/\/membru\.acspa\.ro\/admin\/daily_situation\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/free_days$ "https\:\/\/membru\.acspa\.ro\/admin\/free_days\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/situation$ "https\:\/\/membru\.acspa\.ro\/admin\/situation\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/restrictions$ "https\:\/\/membru\.acspa\.ro\/admin\/restrictions\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/members$ "https\:\/\/membru\.acspa\.ro\/admin\/members\/index\.html" [R=302,L]
RewriteCond %{HTTP_HOST} ^membru\.acspa\.ro$ [OR]
RewriteRule ^admin/members/register$ "https\:\/\/membru\.acspa\.ro\/admin\/members\/register\.html" [R=302,L]
