{% extends "base.html" %}

{% block page_title %}Zile de turneu{% endblock %}

{% block content %}
<main class="p-4 md:p-8 w-full max-w-7xl mx-auto">
    <div role="tablist" class="tabs tabs-border tabs-lg mb-8 grid grid-cols-2">
        <input type="radio" name="tournament_tabs" role="tab" class="tab" aria-label="Viitoare ({{ upcoming.len() }})" checked />
        <div role="tabpanel" class="tab-content py-6 col-span-2">
            {% let tournaments = upcoming %}
            {% include "admin/tournaments/grid_partial.html" %}
        </div>

        <input type="radio" name="tournament_tabs" role="tab" class="tab" aria-label="Trecute ({{ past.len() }})" />
        <div role="tabpanel" class="tab-content py-6 col-span-2">
            {% let tournaments = past %}
            {% include "admin/tournaments/grid_partial.html" %}
        </div>
    </div>

    <div class="fab">
        <a href="/admin/tournaments/new">
            <button class="btn-fab-text shadow-2xl transition-transform hover:scale-105 active:scale-95">
                <span class="material-symbols-outlined">add</span>
                Creează turneu
            </button>
        </a>
    </div>
</main>
{% endblock %}