{% extends "../../base.html" %}

{% block page_title %}Situație membrii{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    <label>
        <div class="label">
            <span class="label-text">Alege membrul:</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" autocomplete="off" name="email"
            hx-target="#reservations" hx-post="member">
            <option disabled selected>alege un membru</option>
            {% for member in members %}
            <option value="{{ member.email }}">{{ member.name }}</option>
            {% endfor %}
        </select>
    </label>

    <div id="reservations" class="mt-4 flex flex-col gap-4">
    </div>
</main>

{% endblock %}
