{% extends "../base.html" %}

{% block page_title %}Profil{% endblock %}

{% block content %}

<main class="p-4 md:p-8">
    <div class="flex flex-row flex-wrap gap-8 items-center justify-between p-6 bg-gray-600 rounded shadow">
        <div class="flex flex-col">
            <p class="text-lg">{{ user.name }}
            <p class="text-gray-300">{{ user.email }}</p>
        </div>
        <div class="flex flex-row gap-4 flex-wrap">
            <a href="/change_password">
                <button class="btn btn-outline btn-info">
                    <span class="material-symbols-outlined">password</span>
                    Schimbă parola
                </button>
            </a>
            <button class="btn btn-outline btn-error" hx-post="/logout">
                <span class="material-symbols-outlined">logout</span>
                Sign out
            </button>
        </div>
    </div>

    <div class="mt-4 text-lg">
        Ai rolul de {{ user.role }}. Săptămâna aceasta ai folosit <b>{{ this_weeks_reservations.member }}/{{ max_reservations.member }}</b> rezervări ca membru și <b>{{ this_weeks_reservations.guest }}/{{ max_reservations.guest }}</b> rezervări ca invitat.
    </div>

    {% include "components/profile_content.html" %}
</main>
{% endblock %}
