{% extends "../../base.html" %}

{% block page_title %}Schimbă parola pentru {{ existing_user.name }}{% endblock %}

{% block content %}

<main class="p-8 flex w-full justify-center">
  <form class="flex flex-col gap-6 w-96" hx-post="/admin/members/change_password/{{ existing_user.id }}">
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Parola nouă" name="password" minlength="8" required/>
    </label>

    <div class="flex justify-end items-center mt-2">
      <button class="btn btn-primary">Schimbă parola</button>
    </div>
  </form>
</main>

{% endblock %}
