{% extends "../../base.html" %}

{% block page_title %}Listă Membri{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full flex flex-col">
    <div class="flex flex-row justify-between items-center mb-8">
        <h1 class="text-2xl">{{ members.len() }} membri</h1>

        <a href="/admin/members/new">
            <button class="btn btn-lg btn-circle btn-success">
                <span class="material-symbols-outlined">add</span>
            </button>
        </a>
    </div>
    <label class="input input-bordered flex items-center gap-2 md:px-4 mb-6 w-full">
        <span class="material-symbols-outlined">search</span>

        <input type="search" name="search" class="grow" placeholder="Caută după nume, email sau rol" autocomplete="off"
               hx-post="/admin/members/search" hx-trigger="input changed delay:500ms, search"
               hx-target="#members_list"/>
    </label>

    <div id="members_list" class="flex flex-col w-full gap-4">
        {% include "components/admin/members_content.html" %}
    </div>
</main>

{% endblock %}
