{% extends "../../base.html" %}

{% block page_title %}Utilizator nou{% endblock %}

{% block content %}

<form class="form-control p-8 w-full">
    <div class="label">
        <label for="email" class="label-text">Email:</label>
    </div>
    <input id="email" name="email" type="email" placeholder="Email" required
           class="input input-bordered"/>

    <div class="label">
        <label for="name" class="label-text">Name:</label>
    </div>
    <input id="name" name="name" type="text" placeholder="Nume" required
           class="input input-bordered"/>

    <div class="label">
        <label for="role" class="label-text">Rol:</label>
    </div>
    <select id="role" name="role" class="select select-bordered">
        {% for role in roles %}
        <option>{{ role }}</option>
        {% endfor %}
    </select>

    <label class="label cursor-pointer py-6">
        <span class="label-text">Are cheie:</span>
        <input name="has_key" type="checkbox" class="toggle toggle-primary" />
    </label>

    <div class="label">
        <label for="password" class="label-text">Parola:</label>
    </div>
    <input id="password" name="password" type="text" placeholder="Parola" required autocomplete="off"
           class="input input-bordered"/>

    <button class="btn btn-primary mt-6" hx-post="/admin/members/new">
        Înregistrează utilizatorul nou
    </button>
</form>

{% endblock %}
