@import 'tailwindcss';
@plugin "daisyui" {
  themes: dim --default;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .btn-main-fab {
    @apply btn btn-md xl:btn-lg btn-primary rounded-2xl shadow-2xl transition-transform hover:scale-105 active:scale-95;
  }

  .btn-secondary-fab {
    @apply btn btn-sm xl:btn-md btn-secondary rounded-xl shadow-xl transition-transform hover:scale-105 active:scale-95;
  }

  .rotate-fab-icon {
    @apply group-hover:rotate-90 duration-300;
  }
}