{% extends "../../base.html" %}

{% block page_title %}Editează turneul{% endblock %}

{% block content %}

<form>
    <fieldset class="fieldset gap-6 p-4 md:p-8">
        <label class="floating-label">
            <span>Data</span>
            <input type="date" class="input input-lg input-bordered w-full" required
                   value="{{ current.date }}" autocomplete="off" disabled/>
        </label>

        <label class="floating-label">
            <span>Descriere</span>
            <input name="description" type="text" class="input input-lg input-bordered w-full"
                   value="{{ current.description }}" autocomplete="off"/>
        </label>

        <label class="floating-label">
            <span>Ora de început</span>
            <input name="start_hour" type="number" min="1" max="22" class="input input-lg input-bordered w-full"
                   placeholder="Ora la care începe turneul" autocomplete="off"
                   value="{{ current.start_hour }}" required/>
        </label>

        <label class="floating-label">
            <span>Durata</span>
            <input id="duration" name="duration" type="number" min="1" max="8" class="input input-lg input-bordered w-full"
                   placeholder="Durata turneului în ore" autocomplete="off"
                   value="{{ current.duration }}" required/>
        </label>

        <label class="floating-label">
            <span>Capacitate</span>
            <input name="capacity" type="number" min="1" max="30" class="input input-lg input-bordered w-full"
                   placeholder="Capacitate" autocomplete="off"
                   {% if let Some(capacity)=current.slot_capacity %}value="{{ capacity }}" {% endif %}/>
        </label>

        <button class="btn btn-primary mt-6" hx-post="/admin/tournaments/edit/{{ current.date }}">
            Actualizează turneul
        </button>
    </fieldset>
</form>
{% endblock content %}
