{% extends "../../base.html" %}

{% block page_title %}Zile cu turneu{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    <div class="flex flex-row justify-end items-center mb-8">
        <button class="btn btn-circle btn-lg btn-success" onclick="add_modal.showModal()">
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    {% include "components/admin/tournaments_content.html" %}
</main>

<dialog id="add_modal" class="modal">
    <form class="modal-box"
          hx-put="/admin/tournaments"
          hx-swap="outerHTML"
          hx-target="#list"
          onsubmit="add_modal.close()">
        <fieldset class="fieldset gap-6">
            <h3 class="text-lg font-bold mb-4">Adaugă turneu</h3>

            <label class="floating-label">
                <span>Data</span>
                <input name="date" type="date" class="input input-lg input-bordered w-full" required
                       min='{{ current_date.format(date_formats::ISO_DATE).unwrap() }}'/>
            </label>

            <label class="floating-label">
                <span>Descriere</span>
                <input name="description" type="text" class="input input-lg input-bordered w-full" placeholder=""/>
            </label>

            <label class="floating-label">
                <span>Ora de început</span>
                <input name="start_hour" type="number" min="1" max="22" class="input input-lg input-bordered w-full"
                       placeholder="" required/>
            </label>

            <label class="floating-label">
                <span class="label-text">Durata (în ore)</span>
                <input name="duration" type="number" min="1" max="8" class="input input-lg input-bordered w-full"
                       placeholder="Durata turneului în ore" required/>
            </label>

            <label class="floating-label">
                <span>Capacitate (nu trebuie specificat)</span>
                <input name="capacity" type="number" min="1" max="30" placeholder=""
                       class="input input-lg input-bordered w-full"/>
            </label>

            <div class="modal-action grid grid-cols-2">
                <button class="btn"
                        type="reset"
                        onclick="add_modal.close()">
                    Anulează
                </button>

                <button class="btn btn-success" type="submit">
                    Adaugă
                </button>
            </div>
        </fieldset>
    </form>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

{% endblock %}
