{% for user in members %}
<div class="flex flex-row p-4 bg-gray-600 rounded gap-4 items-center justify-between">
    <div class="flex flex-row gap-4">
        <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true&format=svg"
             width="48px" height="48px" alt="{{user.name}}"/>
        <div class="flex flex-col">
            <div class="flex flex-row items-center gap-4">
                <p class="text-white">{{ user.name }}</p>
                {% if user.has_key %}
                <span class="material-symbols-outlined">vpn_key</span>
                {% endif %}
            </div>
            <span class="text-sm text-gray-100">{{ user.role }} • {{ user.email }}</span>
            <span class="text-sm text-gray-100">Zi de naștere: {{ self::map_date_to_string(user.birthday) }} • Membru din: {{ self::map_date_to_string(user.member_since) }}</span>
            {% if user.received_gift.is_some() %}
            <span class="text-sm text-gray-100">Primit cadou pe: {{ self::map_date_to_string(user.received_gift) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-2 md:gap-4">
        <a href="mailto:{{ user.email }}?subject=Cotiza%C8%9Bie%20ACSPA&body=Te%20rog%20verific%C4%83%20plata%20cotiza%C8%9Biei%20de%20membru%20ACS%20PA">
            <button title="Trimite mail cotizație" class="btn btn-square btn-sm btn-outline">
                <span class="material-symbols-outlined">email</span>
            </button>
        </a>

        <a href="/admin/members/edit/{{ user.id }}">
            <button title="Editează" class="btn btn-square btn-sm btn-outline">
                <span class="material-symbols-outlined">edit</span>
            </button>
        </a>

        <a href="/admin/members/change_password/{{ user.id }}">
            <button title="Schimbă parola" class="btn btn-square btn-warning btn-sm btn-outline">
                <span class="material-symbols-outlined">password</span>
            </button>
        </a>
    </div>
</div>
{% endfor %}
