{% extends "base.html" %}

{% block page_title %}Listă Membri{% endblock %}

{% block content %}

<main class="p-2 sm:p-4 md:p-8 w-full flex flex-col">
    <h2 class="text-2xl mb-8">{{ members.len() }} membri</h2>

    <form class="flex flex-row items-center gap-2 md:gap-4 mb-6"
          hx-target="#members_list"
          hx-post="/admin/members/search"
          hx-trigger="input changed delay:500ms, search">

        <label class="input input-bordered flex items-center gap-2 md:px-4 w-full">
            <span class="material-symbols-outlined">search</span>

            <input type="search" name="search" class="grow" placeholder="Caută după nume, email sau rol"
                   autocomplete="off"/>
        </label>

        <select name="sort" class="menu rounded-box w-26 bg-gray-600 shadow-sm" autocomplete="off"
                hx-trigger="search">
            <option selected value="Alphabetical">Alfabetic</option>
            <option value="Birthday">Data naștere</option>
            <option value="Gift">Data cadou</option>
            <option value="ClosestBirthday">Aniversare</option>
        </select>
    </form>

    <div id="members_list" class="flex flex-col w-full pb-16">
        {% block list %}
        {% for user in members %}
        <a href="/admin/members/view/{{ user.id }}">
            <div class="flex flex-row items-center gap-4">
                <p class="text-white text-lg">{{ user.name }}</p>
                {% if user.has_key %}
                <span class="material-symbols-outlined">vpn_key</span>
                {% endif %}
                <p class="text-sm">{{ user.role }}</p>
            </div>
            <p class="text-gray-200">
                <span class="text-sm">{{ user.email }}</span><br>
                Zi de naștere: <span class="font-mono">{{ self::map_date_to_string(user.birthday) }}</span><br>
<!--                {% if user.member_since.is_some() %}-->
<!--                Membru din: <span class="font-mono">{{ self::map_date_to_string(user.member_since) }}</span><br>-->
<!--                {% endif %}-->
                {% if user.received_gift.is_some() %}
                Primit cadou:
                <span class="font-mono text-red-400">{{ self::map_date_to_string(user.received_gift) }}</span>
                {% endif %}
            </p>
        </a>

        {% if !loop.last %}
        <div class="divider"></div>
        {% endif %}

        {% endfor %}
        {% endblock %}
    </div>

    <div class="fab">
        <a href="/admin/members/new">
            <button class="btn btn-lg btn-circle btn-primary">
                <span class="material-symbols-outlined">add</span>
            </button>
        </a>
    </div>
</main>

{% endblock %}
