{% extends "base.html" %}

{% block page_title %}Listă Membri{% endblock %}

{% block content %}

<main class="p-2 sm:p-4 md:p-8 w-full flex flex-col">
    <h2 class="text-2xl mt-2 mb-6">{{ members.len() }} membri</h2>

    <form class="flex flex-row items-center gap-2 md:gap-4 mb-6"
          hx-target="#members_list"
          hx-post="/admin/members/search"
          hx-trigger="input changed delay:500ms, search">

        <label class="input input-bordered flex items-center gap-2 md:px-4 w-full">
            <span class="material-symbols-outlined">search</span>

            <input type="search" name="search" class="grow" placeholder="Caută după nume, email sau rol"
                   autocomplete="off"/>
        </label>

        <select name="sort" class="menu rounded-box w-26 bg-gray-600 shadow-sm" autocomplete="off"
                hx-trigger="search">
            <option selected value="Alphabetical">Alfabetic</option>
            <option value="Birthday">Data naștere</option>
            <option value="Gift">Data cadou</option>
            <option value="ClosestBirthday">Aniversare</option>
        </select>
    </form>

    <div id="members_list" class="flex flex-col w-full pb-16">
        {% block list %}
        {% for member in members %}
        <a href="/admin/members/view/{{ member.id }}"
            class="block rounded-xl p-4 transition
             hover:bg-white/5 active:bg-white/10
            hover:translate-x-0.5
            focus:outline-none focus:ring-1 focus:ring-white/20">
            <div class="flex flex-row items-center gap-4">
                <p class="text-white text-lg">{{ member.name }}</p>
                {% if member.has_key %}
                <span class="material-symbols-outlined text-gray-300 text-base" title="Are cheie de la sală">vpn_key</span>
                {% endif %}
                {% if !member.is_active %}
                <span class="material-symbols-outlined text-gray-300 text-base" title="Cont inactiv">account_circle_off</span>
                {% endif %}
                <p class="text-sm text-gray-400">{{ member.role }}</p>
            </div>
            <p class="text-gray-300 text-sm leading-snug mt-1">
                <span>{{ member.email }}</span><br>
                Zi de naștere: <span class="font-mono">{{ date_formats::as_readable(member.birthday) }}</span><br>
                {% if member.received_gift.is_some() %}
                Primit cadou:
                <span class="font-mono text-red-400">{{ self::map_date_to_string(member.received_gift) }}</span>
                {% endif %}
            </p>
        </a>

        {% if !loop.last %}
        <div class="divider my-0"></div>
        {% endif %}

        {% endfor %}
        {% endblock %}
    </div>


    <div class="fab">
        <a href="/admin/members/new">
            <button class="btn-main-fab group">
                <span class="material-symbols-outlined rotate-fab-icon">add</span>
                Adaugă membru
            </button>
        </a>
    </div>
</main>

{% endblock %}
