<table>
    <thead class="table-auto">
    <tr>
        <th class="m-px text-md text-neutral-500">Lu</th>
        <th class="m-px text-md text-neutral-500">Ma</th>
        <th class="m-px text-md text-neutral-500">Mi</th>
        <th class="m-px text-md text-neutral-500">Jo</th>
        <th class="m-px text-md text-neutral-500">Vi</th>
        <th class="m-px text-md text-neutral-500">Sa</th>
        <th class="m-px text-md text-neutral-500">Du</th>
    </tr>
    </thead>
    <tbody>
    {% for week in weeks %}
    <tr>
        {% for date in week %}
        <td>
            <button
                class="size-12 rounded-full border border-transparent
                disabled:text-neutral-500 disabled:pointer-events-none
                hover:border-neutral-500"
                hx-post="/choose_date/?selected_date={{ date }}"
                hx-trigger="mousedown"
                style="
                {% if date == selected_date|as_ref %}background-color: cyan; color: black; font-weight: bold;{% endif %}
                {% if date.month() != selected_date.month() %}opacity: 0.7;{% endif %}
                "
                {% if date < current_date|as_ref || date > (current_date + chrono::Duration::days(14))|as_ref %}disabled{% endif %}
            >
            {{ date.day() }}
            </button>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>