<div class="grid grid-cols-7" hx-trigger="mousedown">
    <span class="text-md text-neutral-500 rounded-full">Lu</span>
    <span class="text-md text-neutral-500">Ma</span>
    <span class="text-md text-neutral-500">Mi</span>
    <span class="text-md text-neutral-500">Jo</span>
    <span class="text-md text-neutral-500">Vi</span>
    <span class="text-md text-neutral-500">Sa</span>
    <span class="text-md text-neutral-500">Du</span>
    {% for week in weeks %}
    {% for date in week %}
    <button
            class="rounded-full border border-transparent aspect-square
                disabled:text-neutral-500 disabled:pointer-events-none
                hover:border-neutral-500"
            hx-post='/choose_date/?selected_date={{ date.format("%d.%m.%Y") }}'
            style="
                {% if date == selected_date|as_ref %}background-color: oklch(var(--p)); color: black; font-weight: bold;{% endif %}
                {% if date.month() != selected_date.month() %}opacity: 0.7;{% endif %}
                "
            {% if date
    < current_date|as_ref || date > (current_date + chrono::Duration::days(14))|as_ref %}disabled{% endif %}
    >
    {{ date.day() }}
    </button>
    {% endfor %}
    {% endfor %}
</div>