<form class="flex flex-col gap-6 w-96" hx-post="/change_password">
    <label class="input input-bordered flex items-center gap-2">
        <input type="password" class="grow" placeholder="Parola veche" name="old_password" required/>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <input type="password" class="grow" placeholder="Parola nouă" name="new_password_1" required/>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <input type="password" class="grow" placeholder="Repetă parola nouă" name="new_password_2" required/>
    </label>

    {% if let Some(error_message) = error %}
    <span class="mx-4 py-4 text-center bg-red-500 rounded">
        {{ error_message }}
    </span>
    {% endif %}

    <div class="flex justify-between items-center mt-2">
        <button class="btn btn-primary">Logare</button>
    </div>
</form>
