<div hx-post="/profile/reservations?cancelled={{ !cancelled }}" hx-swap="outerHTML" hx-target="this">
    <div class="flex flex-row justify-between items-center mt-8">
        <h2 class="text-2xl font-bold">Rezervările tale:</h2>

        <button class="btn btn-circle">
            <span class="material-symbols-outlined">refresh</span>
        </button>
    </div>

    <label class="label cursor-pointer justify-start gap-8">
        <span class="label-text">Afișează anulate</span>
        <input type="checkbox" class="checkbox checkbox-primary" autocomplete="off"
               {% if cancelled %} checked="checked" {% endif %}/>
    </label>

    <div id="reservations" class="mt-4 flex flex-col gap-4">
        {% for reservation in reservations %}
        <div class="p-4 bg-gray-600 rounded">
            <p class="my-1">Pe data de <b>{{ reservation.date.format(date_formats::READABLE_DATE).unwrap() }}</b>
                de la ora <b>{{ reservation.hour }}:00</b> la <b>{{ reservation.hour + duration }}:00</b>
            </p>
            <p>Locația: {{ location_name }}</p>
        </div>
        {% endfor %}
    </div>

</div>