{% for group in reservations %}
<div class="flex flex-col bg-base-200 p-4 shadow-sm rounded-sm">
    <p class="text-xl font-medium mb-4">{{ date_formats::month_as_str(group.month) }} {{ group.year }}</p>

    {% for reservation in group.reservations %}
    <div id="res_{{ loop.index }}" class="flex flex-row justify-between items-center">
        <div class="flex flex-col gap-1">
            <p class="text-white">{{ reservation.date.to_readable() }} - {{ reservation.hour }}:00
            </p>
            {% if reservation.as_guest %}
            <p class="text-blue-300">Ca invitat</p>
            {% endif %}
            {% if reservation.in_waiting %}
            <p class="text-pink-600">În așteptare</p>
            {% endif %}
            <p class="text-sm">Creat pe: {{ date_formats::as_local(reservation.created_at) }}</p>
        </div>

        {% if reservation.cancelled %}
        <span>Anulată</span>
        {% else if allow_reservation_cancellation && reservation.is_cancellable() %}
        <button
                class="btn btn-outline btn-warning"
                hx-target="#res_{{ loop.index }}"
                hx-vals='{"date": "{{ reservation.date.to_iso() }}", "hour": {{ reservation.hour }} }'
                hx-delete="/reservation">Anulează
        </button>
        {% endif %}
    </div>

    {% if !loop.last %}
    <div class="divider"></div>
    {% endif %}

    {% endfor %}

</div>
{% endfor %}
