<div class="divider">Profil</div>

<li><a href="/profile">
    <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true&format=svg" loading="lazy" width="48px" height="48px" alt="{{user.name}}"/>
    <div class="flex flex-col">
        <span class="text-md">{{ user.name }}</span>
        <span class="text-sm text-gray-300">{{ user.role }}</span>
    </div>
</a></li>

{% if user.admin_panel_access %}
<div class="divider">Administrare</div>

<li><a href="/admin">
    <span class="material-symbols-outlined text-pink-500">admin_panel_settings</span>
    Panou
</a></li>
<li><a href="/admin/guests">
    <span class="material-symbols-outlined text-sky-500">person_add</span>
    Invitați
</a></li>
<li><a href="/admin/restrictions">
    <span class="material-symbols-outlined text-red-500">block</span>
    Restricționare
</a></li>
<li><a href="/admin/free_days">
    <span class="material-symbols-outlined text-green-500">clear_day</span>
    Zile libere
</a></li>
<li><a href="/admin/tournaments">
    <span class="material-symbols-outlined text-orange-500">trophy</span>
    Turnee
</a></li>
<!--
<li><a href="/orar/orar.htm">
    <span class="material-symbols-outlined">calendar_month</span>
    Orar
</a></li>
-->
{% endif %}
