{% extends "../base.html" %}

{% block page_title %}Zile libere{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    <div class="flex flex-row justify-end items-center mb-8">
        <button class="btn btn-circle btn-lg btn-success" onclick="showModalCleared()">
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    {% include "components/admin/free_days_content.html" %}
</main>

<dialog id="add_modal" class="modal">
    <form class="modal-box">
        <fieldset class="fieldset gap-6"
                  hx-put="/admin/free_days"
                  hx-swap="outerHTML"
                  hx-target="#list"
                  onsubmit="add_modal.close()">
            <h3 class="text-lg font-bold mb-4">Adaugă zi liberă</h3>

            <label class="floating-label">
                <span>Data</span>
                <input name="date" type="date" class="input input-lg input-bordered w-full" required
                       min='{{ current_date }}'/>
            </label>

            <label class="floating-label">
                <span>Descriere</span>
                <input name="description" type="text" class="input input-lg input-bordered w-full"/>
            </label>

            <div class="modal-action grid grid-cols-2">
                <button class="btn"
                        type="reset"
                        onclick="add_modal.close()">
                    Anulează
                </button>

                <button class="btn btn-success" type="submit">
                    Adaugă
                </button>
            </div>
        </fieldset>
    </form>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    function copyDateModal(isoDate, description) {
        document.getElementById("date").value = isoDate;
        document.getElementById("description").value = description;
        add_modal.showModal()
    }

    function showModalCleared() {
        document.getElementsByName("date").value = '';
        document.getElementsByName("description").value = '';
        add_modal.showModal();
    }
</script>

{% endblock %}
