{% extends "../base.html" %}

{% block page_title %}Panou Administrare{% endblock %}

{% block content %}

<main class="p-2 sm:p-4 md:p-8 w-full">
    <p>Este necesară discreția utilizatorului: nu toate datele de intrare sunt validate și multe operații pot fi
        destructive</p>

    <div class="divider">
        Setări generale
    </div>

    <form class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text text-lg">Mod mentenanță</span>
            <input name="in_maintenance" type="checkbox" class="toggle toggle-error" autocomplete="off"
                   {% if global_vars.in_maintenance %} checked="checked" {% endif %}/>
        </label>

        <div class="label">
            <label for="entrance_code" class="label-text">Cod intrare:</label>
        </div>
        <input id="entrance_code" name="entrance_code" type="text" class="input input-bordered w-full max-w-xs"
               value="{{ global_vars.entrance_code }}"/>

        <div class="label">
            <label for="reminder_message" class="label-text">Mesaj pe pagina principală:</label>
        </div>
        <textarea id="reminder_message" name="reminder_message" type="text"
                  class="textarea textarea-bordered w-full max-w-md">
            {{- global_vars.reminder_message -}}
        </textarea>

        <button class="btn btn-error mt-8" hx-post="/admin/apply_settings">Aplică setările</button>
    </form>

    <div class="grid grid-cols-2 gap-2 sm:gap-4 md:gap-8">
        <div class="divider mt-8 md:mt-12 col-span-2">Situații</div>
        <button disabled class="btn w-full">Situație zilnică</button>
        <button disabled class="btn w-full">Situație membru</button>

        <div class="divider mt-8 md:mt-12 col-span-2">Membri</div>
        <a href="/admin/members">
            <button class="btn bg-indigo-700 w-full">Listă membri</button>
        </a>
        <a href="/admin/roles">
            <button class="btn bg-orange-700 w-full">Roluri membri</button>
        </a>

        <div class="divider mt-8 md:mt-12 col-span-2">Altele</div>
        <button disabled class="btn bg-green-600 w-full">Zile libere</button>
        <button disabled class="btn bg-fuchsia-700 w-full">Restricționare rezervări</button>
        <button disabled class="btn bg-amber-600 w-full">Adăugare invitați</button>
    </div>
</main>

{% endblock %}
