{% extends "../base.html" %}

{% block page_title %}Rezervări blocate{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    <div class="flex flex-row justify-end items-center mb-8">
        <button class="btn btn-circle btn-success" onclick="add_modal.showModal()">
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    {% include "components/admin/restrictions_content.html" %}
</main>

{% let current_date_iso = current_date.format(date_formats::ISO_DATE).unwrap() %}
<dialog id="add_modal" class="modal">
    <div class="modal-box">
        <form class="form-control" hx-target="#hour_selector" hx-trigger="change">
            <h3 class="text-lg font-bold mb-4">Blochează rezervările</h3>

            <div class="label">
                <label for="date" class="label-text">Data:</label>
            </div>
            <input id="date" name="date" type="date" class="input input-bordered w-full" required
                   autocomplete="off" hx-post="/admin/restrictions/select_hour"
                   min='{{ current_date_iso }}' value='{{ current_date_iso }}'/>

            <div class="label">
                <label for="message" class="label-text">Motiv:</label>
            </div>
            <input id="message" name="message" type="text" class="input input-bordered w-full" required
                   placeholder="Motivul pentru care nu se poate face rezervări"/>

            <label class="label cursor-pointer justify-start gap-8">
                <span class="label-text">Toată ziua</span>
                <input name="all_day" type="checkbox" class="checkbox checkbox-primary"
                       autocomplete="off" checked="checked"
                       hx-post="/admin/restrictions/select_hour"/>
            </label>

            <div id="hour_selector" class="flex flex-row flex-wrap gap-4"></div>

            <div class="modal-action grid grid-cols-2" hx-disinherit="*">
                <button class="btn"
                        onclick="add_modal.close()">
                    Anulează
                </button>

                <button class="btn btn-success"
                        onclick="add_modal.close()"
                        hx-put="/admin/restrictions"
                        hx-target="#list"
                        hx-swap="outerHTML">
                    Adaugă
                </button>
            </div>
        </form>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

{% endblock %}
