{% extends "base.html" %}

{% block page_title %}Situație membrii{% endblock %}

{% block content %}

<main class="p-4 md:p-8 w-full">
    <label class="select">
        <span class="label">Membru</span>
        <select class="w-full max-w-xs" autocomplete="off" name="email"
            hx-target="#reservations" hx-post="member">
            <option disabled selected>Alege membrul</option>
            {% for member in members %}
            <option value="{{ member.email }}">{{ member.name }}</option>
            {% endfor %}
        </select>
    </label>

    <div id="reservations" class="mt-4 flex flex-col gap-4">
    </div>
</main>

{% endblock %}
