{% extends "base.html" %}

{% block page_title %}Schimbă parola{% endblock %}

{% block content %}

<main class="p-8 flex w-full justify-center">
    <form class="flex flex-col gap-6 w-96" hx-post="/change_password" hx-target="#error" hx-swap="outerHTML">
        <label class="input input-bordered flex items-center gap-2">
            <input type="password" class="grow" placeholder="Parola veche" name="old" minlength="8" required/>
        </label>
        <label class="input input-bordered flex items-center gap-2">
            <input type="password" class="grow" placeholder="Parola nouă" name="new" minlength="8" required/>
        </label>
        <label class="input input-bordered flex items-center gap-2">
            <input type="password" class="grow" placeholder="Repetă parola nouă" name="new_duplicate" minlength="8" required/>
        </label>

        <div id="error"></div>

        <div class="flex justify-end items-center mt-2">
            <button class="btn btn-primary">Schimbă parola</button>
        </div>
    </form>
</main>

{% endblock %}
